version: '3'

services:
  nginx-proxy:
    build: ./nginx-proxy
    container_name: ${COMPOSE_PROJECT_NAME}_proxy
    environment:
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - VIRTUAL_PORT=80
    expose:
      - "80"
    depends_on:
      - pgadmin
    volumes:
      - nginx_vhosts:/etc/nginx/vhost.d
      - nginx_html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - revproxy_apps

  #
  # Services FRONT
  geoserver:
    image: kartoza/geoserver:2.19.2
    container_name: ${COMPOSE_PROJECT_NAME}_geoserver
    environment:
      - GEOSERVER_DATA_DIR=${GEOSERVER_DATA_DIR}
      - GEOWEBCACHE_CACHE_DIR=${GEOWEBCACHE_CACHE_DIR}
      - GEOSERVER_ADMIN_PASSWORD=${GEOSERVER_ADMIN_PASSWORD}
      - GEOSERVER_ADMIN_USER=${GEOSERVER_ADMIN_USER}
      - INITIAL_MEMORY=${INITIAL_MEMORY}
      - MAXIMUM_MEMORY=${MAXIMUM_MEMORY}
      - STABLE_EXTENSIONS=${STABLE_EXTENSIONS}
      - COMMUNITY_EXTENSIONS=${COMMUNITY_EXTENSIONS}
    expose:
      - "8080"
    volumes:
      - geoserver_data:/opt/geoserver/data_dir
    depends_on:
      - postgis
      - pgadmin
      - nginx-proxy
    networks:
      - revproxy_apps

  mapstore:
    image: mapstore/mapstore2
    container_name: ${COMPOSE_PROJECT_NAME}_mapstore
    environment:
      - REACT_APP_GEONODE=true
      - PUBLIC_URL=https://ensg-local-sdi.docker/mapstore
      - GEOSERVER_URL=https://ensg-local-sdi.docker/geoserver
    expose:
      - "8080"
    volumes:
      - mapstore_data:/usr/share/nginx/html
    depends_on:
      - geoserver
      - nginx-proxy
    networks:
      - revproxy_apps

  
  mviewer:
    build: ./mviewer
    container_name: ${COMPOSE_PROJECT_NAME}_mviewer
    restart: unless-stopped
    depends_on:
      - nginx-proxy
      - geoserver
    expose:
      - "80"
    volumes:
      - mviewer-base:/usr/share/nginx/html/
    networks:
      - revproxy_apps

  pgadmin:
    image: ${COMPOSE_PROJECT_NAME}_pgadmin4:latest
    build:
      context: ./pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    container_name: ${COMPOSE_PROJECT_NAME}_pgadmin
    expose:
      - "80"
    depends_on:
      - postgis
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - revproxy_apps

  #
  # Services BACK
  postgis:
    image: ${COMPOSE_PROJECT_NAME}_postgis:latest
    container_name: ${COMPOSE_PROJECT_NAME}_postgis
    build:
      context: ./postgis
    env_file: 
      - ./postgis/.env
    restart: unless-stopped
    stdin_open: true
    expose:
      - "5432" 
    volumes:
      - postgis_data:/var/lib/postgresql/data
      - pgbackups:/pg_backups
    networks:
      - revproxy_apps

volumes:
  nginx_vhosts:
  nginx_html:
  geoserver_data:
  mapstore_data:
  postgis_data:
  pgadmin_data:
  pgbackups:
  mviewer-base:
  qgis_data:
  qgis_plugins:
  qgis_project:

networks:
  revproxy_apps:
    external: 
      name: ${APPS_NETWORK}